extends ../partials/admin-layout

block body
  .two-col-layout
    .card.form-card
      .card-header
        h2 Assign Subjects to Class
        i.fas.fa-link
      .card-body
        form(method='POST', action='/admin/assignments/class-subject')
          .form-group
            label Select Class
            select(name='classId', required)
              option(value='') Choose class
              each cls in classes
                option(value=cls.id) #{cls.name} (#{cls.department ? cls.department.code : ''})
          .form-group
            label Select Subjects (hold Ctrl/Cmd for multiple)
            select(name='subjectIds', required, multiple, style='height:150px')
              each subject in subjects
                option(value=subject.id) #{subject.name} (#{subject.class ? subject.class.name : ''})
          button.btn.btn-primary(type='submit')
            i.fas.fa-link
            span Assign

    .card
      .card-header
        h2 Current Class-Subject Assignments
        span.count-badge #{assignments.length}
      .card-body
        if assignments.length
          table.data-table
            thead
              tr
                th Class
                th Subject
                th Actions
            tbody
              each a in assignments
                tr
                  td #{a.class ? a.class.name : '-'}
                  td #{a.subject ? a.subject.name : '-'}
                  td
                    form(method='POST', action=`/admin/assignments/class-subject/${a.id}/remove`, style='display:inline')
                      button.btn.btn-danger.btn-sm(type='submit', onclick='return confirm("Remove?")')
                        i.fas.fa-unlink
        else
          .empty-state
            i.fas.fa-book
            p No class-subject assignments yet.
